@charset "UTF-8";
/* CSS Document */

body {
	background-color: #DFDFDF;
	margin: 0;
	padding: 0;
	color: white;
	font-family: 'Assistant', sans-serif;
}

header {
	padding: 0.5rem;
	padding-bottom: 1rem;
	background-color: #242F3E;
}

header a {
	font-size: 1.2rem;
	color: white;
	text-decoration: none;
	padding: 0.8rem;
	font-family: 'Assistant', sans-serif;
	font-weight: 700;
}

header a.active, a:hover{
	color: #00A8E1;
}

h1 {
	
}

h2 {
	text-align: center;
	font-weight: 700;
}

h3 {
	text-align: center;
	font-style: italic;
	font-weight: 500;
	font-size: 1rem;
}

h4 {
	font-size: 2rem;
	font-weight: 400;
	font-family: 'Passion One', cursive;
	padding-top: 1rem;
	margin: 0rem;
	text-align: center;
}

h5 {
	font-size: 1.5rem;
	font-weight: 400;
	font-family: 'Passion One', cursive;
	padding-top: 1rem;
	padding-bottom: .5rem;
	margin: 0rem;
}

p {
	font-size: 1.1rem;
	padding-top: 1rem;
	margin: 0rem;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
}

.column-left-30 {
	width: 30%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.column-right-60 {
	width: 60%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
}

.row-logo {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.row-names {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	font-family: 'Assistant', sans-serif;
	font-weight: 700;
	
}

.wpi-logo {
	width: 100%;
 	max-width: 12rem;
  	height: auto;
	padding: .5rem;
}

section {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 3rem;
	padding-bottom: 3rem;
	display: flex;
	flex-direction: column;
}

.section-header {
	width: 100%;
	color: #242F3E;
	font-size: 4rem;
	font-weight: 800;
	text-transform: capitalize;
	font-family: 'Passion One', cursive;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}

.header-point {
	text-align: center;
	background-color: #242F3E;
	border-radius: 1rem;
}

.prime-logo {
	margin: auto;
	width: 100%;
	max-width: 30rem;
	height: auto;
	display: flex;
	justify-content: center;
	background-color: white;
	border: .5rem solid #242F3E;
	border-radius: 2rem;
}

/*
.section-header:before,
.section-header:after {
	content: "";
	flex: 1 1;
	border-bottom: 3px solid #242F3E;
	margin: auto;
}
*/
.grey-style{
	color: #242F3E;
}

.light-grey-style{
	color: #242F3E;
	background-color: #F0F0F0;
}

.card {
	width: 30%;
	margin-bottom: 2%;
	position: relative;
	border: .5rem solid #242F3E;
	border-radius: .8rem;
	display: flex;
	flex-direction: column;
}

.card-title {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: .5rem;
	padding-bottom: .5rem;
	font-size: 1.5rem;
	font-weight: 800;
}

.card-image-size {
	width: 100%;
 	max-width: 8rem;
  	height: auto;
	padding: .5rem;
}

.card-image{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.card-strength {
	background-color: #00A8E1;
}

.card-critique {
	background-color: #FC4444;
}

.card-improvement {
	background-color: #49FB44;
}

.card-description {
	display: flex;
	flex-direction: row;
	text-align: center;
	font-size: 1rem;
	padding: .5rem;
}

.phone-card {
	width: 25%;
	margin-bottom: 2%;
	position: relative;
	display: flex;
	flex-direction: column;
}

.laptop-card {
	width: 35%;
	margin-bottom: 2%;
	position: relative;
	display: flex;
	flex-direction: column;
}

.tv-card {
	width: 35%;
	margin-bottom: 2%;
	position: relative;
	display: flex;
	flex-direction: column;
}



/* The device with borders */
.smartphone {
  	position: relative;
  	width: 100%;
 	max-width: 9rem;
  	height: 15rem;
  	margin: auto;
  	border: 1rem black solid;
  	border-top-width: 3rem;
  	border-bottom-width: 3rem;
  	border-radius: 2rem;
}

/* The horizontal line on the top of the device */
.smartphone:before {
  	content: '';
  	display: block;
  	width: 3.75rem;
  	height: 0.3rem;
  	position: absolute;
  	top: -1.875rem;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	background: #F0F0F0;
  	border-radius: 0.6rem;
}

/* The circle on the bottom of the device */
.smartphone:after {
  	content: '';
  	display: block;
  	width: 2rem;
 	height: 2rem;
 	position: absolute;
  	left: 50%;
  	bottom: -3.5rem;
  	transform: translate(-50%, -50%);
  	background: #F0F0F0;
  	border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content {
  	width: 100%;
 	max-width: 8rem;
  	height: auto;
}


/* The laptop with borders */
.laptop {
  position: absolute;
  width: 100%;
 	max-width: 15rem;
  	height: 10rem;
  border-radius: 6px;
  border-style: solid;
  border-color: black;
  border-width: 24px 24px 80px;
  background-color: black;

}

/* The tv with borders */
.tv {
  position: absolute;
  width: 100%;
 	max-width: 18rem;
  	height: 10rem;
  border-radius: 6px;
  border-style: solid;
  border-color: black;
  border-width: 24px 24px 80px;
  background-color: black;

}


@media only screen and (max-width: 800px) {
	.prime-logo {
		max-width: 20rem;
	}
	.container {
    	flex-direction: column;
  	}
	.column-left-30 {
		width: 100%;
		flex-direction: column;
		align-content: center;
	}
	.row-logo {
		width: 100%;
		flex-direction: column;
		align-content: center;
	}
	.row-names {
		width: 100%;
		flex-direction: column;
		align-content: center;
	}
	.column-right-60 {
		width: 100%;
		flex-direction: column;
		align-content: center;
	}
	.card {
		width: 100%;
	}
	.card-description {
		justify-content: center;
	}
	.phone-card {
		width: 100%;
	}
	.laptop-card {
		width: 100%;
	}
}

@media only screen and (max-width: 450px) {
	.prime-logo {
		max-width: 15rem;
	}
	.section {
		padding-left: 5%;
		padding-right: 5%;
	}
	.section-header {
		font-size: 2.5rem;
	}
}